<ion-modal trigger="open-items-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">{{ 'noWaste.cancel' | translate}}</ion-button>
        </ion-buttons>
        <ion-title>{{ 'noWaste.home.items.header' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">{{ 'noWaste.confirm' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">{{ 'noWaste.home.items.name' | translate}}</ion-label>
        <ion-input type="text" placeholder="{{ 'noWaste.home.items.placeholder' | translate }}" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'noWaste.home.items.bestBefore' | translate}}</ion-label>
        <ion-input type="date" [(ngModel)]="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'noWaste.home.items.amount' | translate}}</ion-label>
        <ion-input placeholder="0" type="number" [(ngModel)]="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'noWaste.home.items.storage' | translate}}</ion-label>
        <ion-grid class="storage-grid">
          <ion-row>
            <ion-col size="10">
              <ion-input type="text" placeholder="{{ 'noWaste.home.items.addStorage' | translate}}" [(ngModel)]="newStorage"></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="addToStorages(newStorage)">+</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item>
            <ion-select (click)="getStorages()" interface="popover" placeholder="{{ 'noWaste.home.items.selectStorage' | translate}}" [(ngModel)]="storage">
              <ion-select-option *ngFor="let storage of storages">
                {{storage.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
