<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'noWaste.preferences.header' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <ion-text>{{ 'noWaste.preferences.language' | translate }}</ion-text>
      <p>{{ 'noWaste.preferences.chooseLanguage' | translate }}</p>
    </ion-label>
    <ion-text>English</ion-text>
    <ion-toggle (ionChange)="changeLanguage()" color="medium"></ion-toggle>
    <ion-text>Deutsch</ion-text>
  </ion-item>
</ion-content>
