<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'noWaste.profile.header' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="open-login" expand="block">{{ 'noWaste.profile.login' | translate }}</ion-button>
  <ion-modal #modal trigger="open-login" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="modal.dismiss(null, 'cancel')">{{ 'noWaste.cancel' | translate}}</ion-button>
              </ion-buttons>
              <ion-title>{{ 'noWaste.profile.login' | translate}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss(null, 'confirm')" [strong]="true">{{ 'noWaste.confirm' | translate}}
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.email' | translate}}</ion-label>
            <ion-input type="email" placeholder="email@domain.com" [value]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.password' | translate}}</ion-label>
            <ion-input type="password" [value]="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button id="open-registration" expand="block">{{ 'noWaste.profile.registration.register' | translate}}</ion-button>
  <ion-modal #modal trigger="open-registration" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="modal.dismiss(null, 'cancel')">{{ 'noWaste.cancel' | translate}}</ion-button>
              </ion-buttons>
              <ion-title>{{ 'noWaste.profile.registration.header' | translate}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss(null, 'confirm')" [strong]="true">{{ 'noWaste.confirm' | translate}}
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.name' | translate}}</ion-label>
            <ion-input type="text" placeholder="{{ 'noWaste.profile.registration.placeHolder' | translate}}" [value]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.email' | translate}}</ion-label>
            <ion-input type="email" placeholder="email@domain.com" [value]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.password' | translate}}</ion-label>
            <ion-input type="password" [value]="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'noWaste.profile.registration.confirm' | translate}}</ion-label>
            <ion-input type="password" [value]="passwordConfig"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
